
.dispCard{
  float: left;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 1rem 1rem 2rem 1rem;
  background: #ddeeff;
}

.navCard{
  float: left;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 8rem;
  margin: 1rem 1rem 2rem 1rem;
  background: #ddeeff;
}

a.navCardLink {
  text-decoration:none; 
  display: block;
  width: 100%;
}

.navCard a:hover{
  color: #884444;
  text-decoration: underline;
  border: 2px solid #aabbff; 
  font-style: italic; 
}

.navCardbody{
  display: flex;
  width: 100%;
  flex: 2;
  align-items: center;
  justify-content: center;
}

img.navCardImg {
  display: flex;
  flex: 2;
  padding: 0;
  max-width: 90%;
  max-height: 60%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.navCardcaption{
  background: #88aaee;
  display: flex;
  flex: 1;
  width: 100%;
  text-align: center;
  padding: .5em 0 .5em 0;
  margin: 0 auto;
  padding: 0.25em .5em 0.25em .5em;
}

@media only screen and (max-device-width: 480px)
{
  .navCard{ max-width: 100%; width: auto; height: auto; |
}
