.* .*::after .*::before{
         padding: 0;
         margin: 0;
}

html
{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
  --navbg: rgb(200,200,205,1);
  --navbgdark: rgb(175,175,190,1);
  --navbglight: rgb(175,175,190,0.25);
  --navhover: rgb(225,225,255,0.5);
  --linkcolor: rgb(5,5,15,1);
  --textcolor: rgb(0,0,5,1);
  --highlightedcolor: blue;
  --extracolor: magenta;
  --slideshowcolor: #660000;
  color: var(--textcolor);
  padding: 0;
  margin: 0;
  font-size: 100%;
}


/* misc */
quote { display: block; max-width: 50%; margin: 1em 1em 1em 6em; font-weight: bold; font-style:italic;}
.bold {font-weight: bold;}
.pageNumber { font-weight: bold;}
a {display: inline; text-decoration: none; font-weight: bold; color: var(--linkcolor); }
a:hover,a:focus,a:visited { 
  text-decoration: underline:
  background: var(--navhover);
  color: black;
}
a.slideshow  { color: var(--slideshowcolor); font-style: italic; font-size: 150%; }
a.highlighted{ color: var(--highlightedcolor); font-style: italic; margin-left: .5rem;}
a.extra      { color: var(--extracolor); font-style: italic; margin-left: .5rem;}

sup { font-size: 50%; color: red;}
h1 { font-size: 2.6vw; margin-top: 1rem;} 
h2 { font-size: 1.75vw; } 
h3 { font-size: 1.5vw; } 
h4 { font-size: 1.25vw; } 

.h1banner {  margin-left: 30%; font-size: 140%; font-weight: bold;}

img.img70{ max-width: 50%;}

img{ 
   float: left;
   width: auto;
   margin: 1rem;
   object-fit: cover;
   border-radius: .5rem;
}

.buttonbox{
  width: 90%; min-width: 90%; max-width: 90%;
  clear: both;
  float: left;
  display: flex;
  flex-direction: row;
}

.buttonbox{
  font-size: 60%;
}

i.material-icons{font-size: small;}

.user_manage a, mkBreadcrumbs a {
  display: inline;
}

.user_manage {
  margin-bottom: 1rem;
  font-weight: bold;
}

a.button, a.nextPageButton, a.prevPageButton,a.lastReadPageButton{ 
  /* display: block;  */
  float: left;
  background:  rgb(200,200, 255,0.5); 
  border: 1px groove blue;
  padding: .25rem;
  margin: .25rem;
  font-size: small;
}
/* end misc */

/* main blocks */
#mainwrapper{
  background: url(/systemimages/background.jpg) no-repeat; 
  background-color: #4f6aad;
  width: 100%%;
  height: 100%; 
  min-height: 1800px;
}

#wrapper{
  width: 100%%;
  height: 100%; 
  margin: 0 .5rem 0 .5rem;
}

#headerbanner{
  width: 100%;
  min-height: 5rem;
  background-color: var(--navbg); 
  background-image: url(/systemimages/smrb_logo_04.png);
  background-position: left center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0 0 0 1rem; 
  border-radius: .5rem .5rem 0 0;
  
}

#mmmmain-content
{
  display: flex;
  flex-direction: row;
}

#main-content
{
  float: left; 
  width: 100%;
  padding: 0; 
}

/* end main blocks */

/* classes */
.bottombannerlinks 
{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 0 0 15%;
  padding: 0;
  font-family: Arial;
  border-bottom: 1px solid var(--navbg);
}

.bottombannerlink
{
  max-height: 1.5rem;
  max-width: 15`rem;
  margin-right: .25rem;
  padding:  0 1rem 0 0; 
  text-align: center;
  font-size: 1.5vw;
  float:left;
}

.mkBreadcrumbs 
{
    font-size: 200%;
    margin: 0 0 0 20%;
    padding: 0.5rem 0 0 0;
}
.mkBreadcrumbs a { display: inline; color: #660000; }


.toc{
  float: left; 
  background: var(--navbg);
  min-width: 15%;
  max-width: 20%;
  height: auto;
  margin:  0 1rem 0 0;
  padding: 0.25rem;
  font-size: 90%;
  position: relative;
  bottom: 1.5rem;
  border-radius: 0 0 .5rem .5rem;
}

.toc a{
 display: block; 
}

.displaycard{
  float: left;
  background: var(--navbg);
  width: auto;
  max-width: 70%;
  height: auto;
  margin: .5rem 1rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: .5rem;
}

.stuff{
 padding: 2rem;
 float: left;
}

.displaycard img{
 display: block;
 float: left;
 width: auto;
 max-width: 100%;
 height: auto;
 margin: 0 auto; 
 background: var(--navbg);
 border-radius: .5rem .5rem 0 0;
 object-position: center; 
 object-fit: scale-down;
}

.navcard{
  float: left;
  background: var(--navbg);
  width: 10rem;
  max-width: 10rem;
  height: 8rem;
  max-height: 8rem;

  margin: .25em; 
  display: flex;
  flex-direction: column;
  text-align: center;
/*
  justify-content: center;
  align-items: center;
*/
  padding: 0.5rem;
  border-radius: .5rem;
}

.navcard img{
 display: block;
 width: 100%;
 max-width: 100%;
 /* height: auto; */
 max-height: 100%;
 margin: 0; 
 padding: 0;
 background: var(--navbg);
 border-radius: .5rem .5rem 0 0;
 object-position: center; 
 object-fit: scale-down;
 overflow: hidden;
 position: relative;
}

.cardtitle{
  border-radius: 0.25rem 0.25rem 0 0;
  width: auto;
  height: auto;
  font-weight: bold;
}

.cardbody
{
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%; 
  max-width: 100%;
  height: auto; 
  max-height: 80%;
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 2;
}

.cardbody img{ margin-top: 4px; }

.cardcaption{
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  max-width: 100%;
  /* height: auto; */
  padding: 0;
  margin-top: .25em;
  font-weight: bold;
  /* text-align: center; */
  background: var(--navbgdark);
  font-size: 70%;
  line-height: 1rem; 
}

a.cardlink{
color: rgb(200,200,255,1,0);
/* max-width: 80%; */
font-size: small;
text-decoration: none;
}

a.cardlink:hover{
text-decoration: underline;
}
/* end classes */

/* <blog> */
#blog
{
background: white;
height: auto; 
min-height: 20rem;
max-height: 50rem;
padding: .5rem;
margin: 0 0 0 1rem;
border: 2px solid var(--navbg); 
border-radius: 0.5rem;
overflow-y: scroll;
overflow-x: hidden;
color: black;
}

#blog img 
{
 max-width: 100%;
 object-fit: scale-down;
 /* object-position: center; */
}

.blogEntry{
 border: 0;
 color: black;
}

.miniText{ font-weight: bold;}
/* </blog> */

.clearboth{ clear: both; margin: 0; padding: 0; max-height: 1rem; }

#footer{
  clear: both;
  float: left;

}

/* <media> */

/* when the device is a typical phone */
@media only screen and (max-device-width: 480px)
{
  .mkBreadcrumbs {margin: 0;}
  #headerbanner {background:  var(--navbg);}
  #headerbanner {background-image: url(/systemimages/onepix.gif);}
  h1 { 
   clear: both; 
   font-size: medium;
  }
  #blog { 
     display: block; 
     clear: both; 
     width: 100%; 
     height: auto;
     margin: 0;
  }
  .buttonbox{ border: 1px solid black;}
  .h1banner { margin: 0; font-size: 60%;}
  .bottombannerlinks{ margin: 0;}
  .bottombannerlink{ font-size: 3vw; }
  .toc {width: 100%; min-width: 100%; max-width: 100%;}
  .displaycard { float: left; width: 100%;}
  .navcard{
    margin: 1rem 1px;
    width: 8em;
    max-width: 8em;
    height: 6em;
    max-height: 6em;
    padding: 0;
    font-size: 60%; 
 }
#main-main-content
{
 display: block; 
}
 .navcard .cardcaption{
    font-size: 60%;
  }
}
/* </media> */
